# #Ipython Notebook Temp files
# *copy*.ipynb
# untitled*
# untitled*.ipynb
# *Copy*.ipynb
# Untitled*
# Untitled*.ipynb
# #Ipython Notebook
# .ipynb_checkpoints

# # Byte-compiled / optimized / DLL files
# __pycache__/
# *.py[cod]
# *$py.class
# *.pyc

# # OSX Filesystem thing
.DS_Store
# Ignore Database files
*.db
*.sqlite

# Ignore data files
*.csv
*.json
Skip to content
This repository
Search
Pull requests
Issues
Marketplace
Explore
 @xvila
 Sign out
 Unwatch 1
  Star 0  Fork 26 xvila/nyc17_ds13 Private
forked from thisismetis/nyc17_ds13
 Code  Pull requests 0  Projects 0  Wiki  Settings Insights 
Branch: master Find file Copy pathnyc17_ds13/.gitignore
9c0a6c5  18 days ago
@julialintern julialintern add gitignore
2 contributors @sophiaray @julialintern
RawBlameHistory     
112 lines (92 sloc)  1.55 KB
# Virtual Env
env/

# Working Files - not ready to be shared
local/
local*
*local*

# Ignore data files from student submissions
challenges/solutions/data/*.txt
challenges/**/submissions/**/*.txt
challenges/**/submissions/**/*.csv
challenges/**/submissions/**/*.dta
challenges/**/submissions/**/*.pkl
challenges/**/submissions/**/*.pickle

projects/**/submissions/**/*.txt
projects/**/submissions/**/*.csv
projects/**/submissions/**/*.dta
projects/**/submissions/**/*.pkl
projects/**/submissions/**/*.pickle

#Ipython Notebook
.ipynb_checkpoints

#Ipython Notebook Temp files
*copy*.ipynb
untitled*
untitled*.ipynb
*Copy*.ipynb
Untitled*
Untitled*.ipynb

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OSX Filesystem thing
.DS_Store

# Ignore Tree dot files
*.dot

# Ignore Database files
*.db
*.sqlite

# Ignore temp files from other editors
*~
.#*
.*.sw?
.idea/
*.dpkg-*
*.exe
*.ZILESAVE

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Ignore Selenium temp file
chromedriver

# C extensions
*.so

# Installer logs
*.log
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/
© 2017 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
API
Training
Shop
Blog
About

#Credentials
password.py
sqlkey.py
creds.py
config.py

# Data Folders
data/*
books/*
*.pkl